.about-section {
  padding-top: 10rem;
  background: linear-gradient( $black, #00000060), url('/img/mixer.jpg');
  background-size: cover;
  background-position: center;
  min-height: 500px;
  p {
    margin-bottom: 5rem;
  }
}
