.about-section {
  padding: 3rem 0 0 0;
  background: linear-gradient( $black, #00000060), url('/img/mixer.jpg');
  background-size: cover;
  background-position: center;
  min-height: 500px;
  p {
    // margin-bottom: 5rem;
  }
}



.hire-section{
  padding: 2rem 0;
  .p-copy{
    color:$black;
    text-align: left;
  }
}
