.pricing-section {
  padding: 5rem 0 2rem 0;
  background-image: linear-gradient(#00000090, #00000090), url('/img/marshall_amp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .pricing-num{
    font-weight: bolder;
    font-size: 50px;
    margin: 1rem 0 1.5rem 0;
    width: 100%;
    text-align: center;
  }
  .table td, .table th {
    vertical-align: middle;
  }
  .featured-text {
    padding: 2rem;
    @media (min-width: 992px) {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid $primary;
    }
  }
  .pricing-text {
    padding: 3rem;
    @media (min-width: 992px) {
      padding: 5rem;
      hr {
        border-color: $primary;
        border-width: .25rem;
        width: 30%;
      }
    }
  }
}

.services{
  .service-item{
    // background: #00000080;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    padding: 1rem;
    // color: $white;
    text-align: center;
    i{
      font-size: 26px;
    }
  }
}
.form-inline {
  input, textarea {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0,0,0,.1);
    padding: 1rem 1rem;
    height: auto;
    font-family: 'Lato';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
  }
  input[type=checkbox]{
    box-shadow: none;
    position: relative;
    bottom: 2px;
  }
  textarea{
    min-height: 170px;
  }
}
