.signup-section {
  padding: 5rem 0 1rem;
  background: linear-gradient(to bottom, #{fade-out($black, .7)} 0%,#{fade-out($black, .5)} 75%,$black 100%), url('https://images.unsplash.com/photo-1478737270239-2f02b77fc618?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  
  
}

label {
  display: inline-block;
  margin-bottom: .2rem;
}

hr{
  margin-top: 1.2rem;
}

@media only screen and (min-width: 414px){
  .modal-body{
    padding: 1rem 2rem 2rem;
  }
  .form-inline .form-control{
    display: block !important;
  }
}
