@import 'variables.scss';
@import 'mixins.scss';
@import 'navbar.scss';
@import 'masthead.scss';
@import 'buttons.scss';
@import 'about.scss';
@import 'how_it_works.scss';
@import 'projects.scss';
@import 'signup.scss';
@import 'pricing.scss';
@import 'contact.scss';
@import 'newsletter.scss';
@import 'soundcloud.scss';
@import 'testimonials.scss';

body {
  font-family: 'Lato';
  letter-spacing: 0.0625em;
  font-size: 19px;
}

a {
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.round{
  border-radius: .25rem;
}
.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

footer {
  padding: 5rem 0;
}

.box-shadow {
  -webkit-box-shadow: $box-shadow;
          -moz-box-shadow: $box-shadow;
              box-shadow: $box-shadow;
}

.card{
  -webkit-box-shadow: $box-shadow;
          -moz-box-shadow: $box-shadow;
              box-shadow: $box-shadow;
  margin: 20px 0;
  padding: 30px;
}
