@import 'variables.scss';
@import 'mixins.scss';
@import 'navbar.scss';
@import 'masthead.scss';
@import 'buttons.scss';
@import 'about.scss';
@import 'how_it_works.scss';
@import 'projects.scss';
@import 'signup.scss';
@import 'pricing.scss';
@import 'contact.scss';
@import 'newsletter.scss';
@import 'soundcloud.scss';
@import 'testimonials.scss';

body {
  font-family: 'Lato';
  letter-spacing: 0.0625em;
  font-size: 19px;
}

a {
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.round{
  border-radius: .25rem;
}
.bg-black {
  background-color: $black !important;
}

.bg-success{
  background-color: $secondary !important;
}
.bg-danger{
  background-color: $danger !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

footer {
  padding: 5rem 0;
}

.box-shadow {
  -webkit-box-shadow: $box-shadow;
          -moz-box-shadow: $box-shadow;
              box-shadow: $box-shadow;
}

.card{
  -webkit-box-shadow: $box-shadow;
          -moz-box-shadow: $box-shadow;
              box-shadow: $box-shadow;
  margin: 20px 0;
  padding: 30px;
}


// Loader

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #000;
  font-size: 10px;
  // margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}